#title {
  text-align: center;
  margin-top: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

h1 {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  padding: 10px;
}

/* Form area */
.form-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  margin: 20px;
}

.form-group {
  min-width: 500px;
}

@media only screen and (max-width: 1024px) {

  /* Adjust the max-width value as needed */
  .form-group {
    min-width: 90vw;
  }
}

/* Loading indicator */
.loading-indicator {
  max-height: 50px;
  max-width: 50px;
}

/* Chart area */
.chart-area {
  margin: 25px;
  max-width: 600px;
}

#pie {
  filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.5));
  text-align: center;
}

/* Buttons */
button {
  background-color: transparent;
  border-radius: 100%;
  border-color: transparent;
}

/* Body */
body {
  background-image: url("../assets/images/Background.jpg");
  background-position: center;
  background-size: 100% 100%;
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Shop image */
#shopImage {
  position: fixed;
  right: 10px;
  top: 0;
  width: 80%;
  max-width: 500px;
  max-height: 1000px;
}

/* Login form */
.login-form {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #f8f1eb;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

.login-form label {
  margin-bottom: 10px;
  font-weight: bold;
  color: #654321;
  /* Brown color */
}

.login-form input[type="text"],
.login-form input[type="password"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.login-form button {
  padding: 8px 20px;
  background-color: #8b0000;
  /* Dark red color */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-form button:hover {
  background-color: #5a0000;
  /* Slightly lighter dark red color on hover */
}

/* Pies count */
#piesCount {
  position: absolute;
  top: 140px;
  /* Adjust the top position as needed */
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  padding: 10px;
  font-size: 24px;
  /* Adjust the font size as desired */
  z-index: 1;
  /* Ensure the text appears above other elements */
}

/* Upgrade button */
.upgrade-button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  background-color: #8b0000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  right: 50px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

.upgrade-button:hover {
  background-color: #5a0000;
}

/* Upgrade counter */
.upgrade-counter {
  margin: 5px;
  font-size: 25px;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  color: #5a0000;
}

/* Game area */
#gameArea {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* Save button */
#saveButton {
  padding: 8px 20px;
  background-color: #8b0000;
  /* Dark red color */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#saveButton:hover {
  background-color: #5a0000;
  /* Slightly lighter dark red color on hover */
}

/* Signup button */
.signup-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #8b0000;
  color: white;
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.signup-button:hover {
  background-color: #5a0000;
}

/* Signup form */
.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f1eb;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

.signup-form label {
  margin-bottom: 10px;
  font-weight: bold;
  color: #654321;
  /* Brown color */
}

.signup-form input[type="text"],
.signup-form input[type="password"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  width: 250px;
}

.signup-form button {
  padding: 8px 20px;
  background-color: #8b0000;
  /* Dark red color */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.signup-form button:hover {
  background-color: #5a0000;
}

#startMusicButton {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #8b0000;
  color: white;
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

#startMusicButton:hover {
  background-color: #5a0000;
}